# The config file for the parameters. All values should be defined as Python
# types to be parsed correctly (e.g. strings should be in quotes, tuples should
# be of the form (x, y, z), etc.

# The files that contain the training and test image paths and the class names.
classnames_file:      "test/classnames.txt"
train_img_paths_file: "test/trainImNames.txt"
test_img_paths_file:  "test/test1ImNames.txt"

# Data specifications.
number_of_classes:    25
train_imgs_per_class: 100
test_imgs_per_class:  20

# Dimensions of the training image: width, height, num channels.
# Number of channels should be 1 (grayscale) or 3 (RGB).
img_dimensions:       (128, 128, 1)

# Training hyperparameters.
batch_size:           32
num_epochs:           10
learning_rate:        0.01
decay:                1e-6
momentum:             0.9
